<h2 id="mjeAddProductCart"></h2>

<section class="row row-cols-1 row-cols-md-4 g-4">

{{#each products}}
    <article class="col">
        <div class="card h-100">
            <img src={{this.thumbnail}} alt="" class="card-img-top">
            <div class="card-body">
                <p class="card-title">{{this.description}}</p>
                <p class="card-text">{{this.price}}</p>
                <a href="#" class="btn btn-primary addProduct" id={{this._id}}>Agregar al carrito</a>
            </div>
        </div>
    </article>
{{/each}}

</section>
<nav aria-label="Page navigation example" class="margin">
    <ul class="pagination justify-content-center">
        {{#if hasPrevPage}}
            <li class="page-item">
                <a class="page-link" href="/api/products2?page={{prevPage}}">Anterior</a>
            </li>
        {{/if}}

        {{#if hasNextPage}}
            <li class="page-item">
                <a class="page-link" href="/api/products2?page={{nextPage}}">Siguiente</a>
            </li>
        {{/if}}
    </ul>
</nav>
<script src="/js/products.mongo/addProduct.js"></script>